# Библиотека Pandas

## Data Frame

In [1]:
import pandas as pd

In [2]:
#создание DataFrame по столбцам с помощью словарей
frame = pd.DataFrame({'numbers':range(10), 'chars':['a']*10})

In [3]:
frame

   numbers chars
0        0     a
1        1     a
2        2     a
3        3     a
4        4     a
5        5     a
6        6     a
7        7     a
8        8     a
9        9     a

In [4]:
#создание DataFrame с помощью чтения данных из файла
frame = pd.read_csv('dataset.tsv', header=0, sep='\t')

In [5]:
frame

              Name       Birth       City  Position
0      Иванов А.А.  22.03.1980     Москва       NaN
1     Сорокин И.В.  07.08.1965  Волгоград   инженер
2       Белов М.М.  13.02.1980     Ростов  менеджер
3  Мельникова Д.С.  15.04.1985     Ростов       NaN
4      Рыбина Е.П.  19.11.1985     Москва   инженер
5     Костров С.О.  31.05.1985     Москва    стажер

In [6]:
frame.columns

Index(['Name', 'Birth', 'City', 'Position'], dtype='object')

In [7]:
frame.shape

(6, 4)

In [8]:
new_line = {'Name':'Perov', 'Birth':'22.03.1990', 'City':'Penza'}

In [9]:
#добавление строки в DataFrame
frame.append(new_line, ignore_index=True)

              Name       Birth       City  Position
0      Иванов А.А.  22.03.1980     Москва       NaN
1     Сорокин И.В.  07.08.1965  Волгоград   инженер
2       Белов М.М.  13.02.1980     Ростов  менеджер
3  Мельникова Д.С.  15.04.1985     Ростов       NaN
4      Рыбина Е.П.  19.11.1985     Москва   инженер
5     Костров С.О.  31.05.1985     Москва    стажер
6            Perov  22.03.1990      Penza       NaN

In [10]:
#добавление строки в DataFrame
frame = frame.append(new_line, ignore_index=True)

In [11]:
frame

              Name       Birth       City  Position
0      Иванов А.А.  22.03.1980     Москва       NaN
1     Сорокин И.В.  07.08.1965  Волгоград   инженер
2       Белов М.М.  13.02.1980     Ростов  менеджер
3  Мельникова Д.С.  15.04.1985     Ростов       NaN
4      Рыбина Е.П.  19.11.1985     Москва   инженер
5     Костров С.О.  31.05.1985     Москва    стажер
6            Perov  22.03.1990      Penza       NaN

In [12]:
#добавление столбца в DataFrame
frame['IsStudent'] = [False]*5 + [True]*2

In [13]:
frame

              Name       Birth       City  Position  IsStudent
0      Иванов А.А.  22.03.1980     Москва       NaN      False
1     Сорокин И.В.  07.08.1965  Волгоград   инженер      False
2       Белов М.М.  13.02.1980     Ростов  менеджер      False
3  Мельникова Д.С.  15.04.1985     Ростов       NaN      False
4      Рыбина Е.П.  19.11.1985     Москва   инженер      False
5     Костров С.О.  31.05.1985     Москва    стажер       True
6            Perov  22.03.1990      Penza       NaN       True

In [14]:
#удаление строк DataFrame
frame.drop([5,6], axis=0)

              Name       Birth       City  Position  IsStudent
0      Иванов А.А.  22.03.1980     Москва       NaN      False
1     Сорокин И.В.  07.08.1965  Волгоград   инженер      False
2       Белов М.М.  13.02.1980     Ростов  менеджер      False
3  Мельникова Д.С.  15.04.1985     Ростов       NaN      False
4      Рыбина Е.П.  19.11.1985     Москва   инженер      False

In [15]:
frame

              Name       Birth       City  Position  IsStudent
0      Иванов А.А.  22.03.1980     Москва       NaN      False
1     Сорокин И.В.  07.08.1965  Волгоград   инженер      False
2       Белов М.М.  13.02.1980     Ростов  менеджер      False
3  Мельникова Д.С.  15.04.1985     Ростов       NaN      False
4      Рыбина Е.П.  19.11.1985     Москва   инженер      False
5     Костров С.О.  31.05.1985     Москва    стажер       True
6            Perov  22.03.1990      Penza       NaN       True

In [16]:
#удаление строк DataFrame (inplace)
frame.drop([5,6], axis=0, inplace=True)

In [17]:
frame

              Name       Birth       City  Position  IsStudent
0      Иванов А.А.  22.03.1980     Москва       NaN      False
1     Сорокин И.В.  07.08.1965  Волгоград   инженер      False
2       Белов М.М.  13.02.1980     Ростов  менеджер      False
3  Мельникова Д.С.  15.04.1985     Ростов       NaN      False
4      Рыбина Е.П.  19.11.1985     Москва   инженер      False

In [18]:
#удаление столбца DataFrame (inplace)
frame.drop('IsStudent', axis=1, inplace=True)

In [19]:
frame

              Name       Birth       City  Position
0      Иванов А.А.  22.03.1980     Москва       NaN
1     Сорокин И.В.  07.08.1965  Волгоград   инженер
2       Белов М.М.  13.02.1980     Ростов  менеджер
3  Мельникова Д.С.  15.04.1985     Ростов       NaN
4      Рыбина Е.П.  19.11.1985     Москва   инженер

In [20]:
#запись DataFrame в файл
frame.to_csv('updated_dataset.csv', sep=',', header=True, index=False)

In [21]:
!cat updated_dataset.csv

Name,Birth,City,Position
Иванов А.А.,22.03.1980,Москва,
Сорокин И.В.,07.08.1965,Волгоград,инженер
Белов М.М.,13.02.1980,Ростов,менеджер
Мельникова Д.С.,15.04.1985,Ростов,
Рыбина Е.П.,19.11.1985,Москва,инженер

In [22]:
#аналог команды для пользователей Windows
!more updated_dataset.csv

Name,Birth,City,Position
Иванов А.А.,22.03.1980,Москва,
Сорокин И.В.,07.08.1965,Волгоград,инженер
Белов М.М.,13.02.1980,Ростов,менеджер
Мельникова Д.С.,15.04.1985,Ростов,
Рыбина Е.П.,19.11.1985,Москва,инженер

In [30]:
# Библиотека Pandas (Версия для Python 3)

In [31]:
import pandas as pd

In [32]:
#создание DataFrame с помощью чтения данных из файла
frame = pd.read_csv('data_sample_example.tsv', header=0, sep='\t')

FileNotFoundError: [Errno 2] No such file or directory: 'data_sample_example.tsv'

In [33]:
frame

              Name       Birth       City  Position
0      Иванов А.А.  22.03.1980     Москва       NaN
1     Сорокин И.В.  07.08.1965  Волгоград   инженер
2       Белов М.М.  13.02.1980     Ростов  менеджер
3  Мельникова Д.С.  15.04.1985     Ростов       NaN
4      Рыбина Е.П.  19.11.1985     Москва   инженер

In [ ]:
frame.dtypes

In [ ]:
#изменение типа столбца с помощью функции apply
frame.Birth = frame.Birth.apply(pd.to_datetime)

In [ ]:
frame

In [ ]:
frame.dtypes

In [ ]:
frame.info()

In [28]:
#заполнение пропущенных значений с помощью метода fillna
frame.fillna('разнорабочий')

              Name       Birth       City      Position
0      Иванов А.А.  22.03.1980     Москва  разнорабочий
1     Сорокин И.В.  07.08.1965  Волгоград       инженер
2       Белов М.М.  13.02.1980     Ростов      менеджер
3  Мельникова Д.С.  15.04.1985     Ростов  разнорабочий
4      Рыбина Е.П.  19.11.1985     Москва       инженер

In [ ]:
frame

In [ ]:
frame.Position

In [ ]:
frame[['Position']]

In [ ]:
frame[['Name', 'Position']]

In [ ]:
frame[:3] #выбираем первые три записи

In [ ]:
frame[-3:] #выбираем три послдение записи

In [ ]:
frame.loc[[0,1,2], ["Name", "City"]] #работает на основе имен

In [ ]:
frame.iloc[[1,3,5], [0,1]] #работает на основе позиций

In [29]:
frame.ix[[0,1,2], ["Name", "City"]]  #поддерживает и имена и позиции (пример с именами)

AttributeError: 'DataFrame' object has no attribute 'ix'

In [ ]:
frame.ix[[0,1,2], [0,1]] #поддерживает и имена и позиции (пример с позициями)

In [ ]:
#выбираем строки, которые удовлетворяют условию frame.Birth >= pd.datetime(1985,1,1)
frame[frame.Birth >= pd.datetime(1985,1,1)]

In [ ]:
#выбираем строки, удовлетворяющие пересечению условий
frame[(frame.Birth >= pd.datetime(1985,1,1)) &
      (frame.City != 'Москва')]

In [ ]:
#выбираем строки, удовлетворяющие объединению условий
frame[(frame.Birth >= pd.datetime(1985,1,1)) |
      (frame.City == 'Волгоград')]